@import url("https://fonts.googleapis.com/css?family=Karla|Rubik&display=swap");

body {
  margin: 0;
  padding: 0;
  background-color: #eeeeee;
  font-family: "Karla", sans-serif;
  letter-spacing: 1px;
}
#navbar {
  height: 60px;
  background-color: #1a2849;
}

#navbar-container {
  max-width: 960px;
  margin-right: auto;
  margin-left: auto;
  font-family: "Rubik", sans-serif;
}

#brand {
  color: #f9f9f9;
  text-decoration: none;
  height: 60px;
  line-height: 60px;
}

#profile {
  float: right;
  height: 60px;
  text-decoration: none;
  line-height: 60px;
  color: #da9833;
}

#shopping-container {
  max-width: 960px;
  margin-right: auto;
  margin-left: auto;
}

#product-container {
  margin-top: 40px;
}

#product-container img {
  width: 100%;
  height: 300px;
}

#product-container p {
  text-align: center;
}

.product {
  width: 25%;
  float: left;
  margin-right: 4%;
  margin-left: 4%;
  margin-bottom: 25px; /* rems are better than pixels*/
}

.product-buttons {
  text-align: center;
}

.product-buttons button {
  border: none;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.increment-button {
  margin-left: 20px;
}

#cart {
  max-width: 720px;
  margin: 20px auto 20px auto;
  height: 40px;
  display: flex;
  align-items: center;
}

#cart input {
  border: 2px solid #da9833;
  border-radius: 5px;
}

#cart button {
  height: 20px;
  border: none;
  text-transform: uppercase;
  border-radius: 5px;
  margin-left: 10px;
  cursor: pointer;
}

#cart-image {
  position: relative;
  display: inline-block;
  margin-left: auto;
}

#cart-image img {
  height: 40px;
}

#cart-count {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-10%, -70%); /* so that any text size works*/
  font-size: 18px;
}
